@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Poppins", serif;
}

.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/assets/images/crt.gif');
        mix-blend-mode: multiply;
        opacity: 0.5; // Add this line to set opacity
    }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     box-shadow: inset -50px 50px 120px 100px #000;
    // }

    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

.step-one {
    .img-holder {
        background: linear-gradient(114.93deg, rgba(255, 255, 255, 0.1) 5.62%, rgba(153, 153, 153, 0.1) 97.71%);
    }
}

.step-two {
    .get-started-dots {
        .get-started-dot {
            position: relative;
            
            &:not(:last-child)::before {
                content: '';
                position: absolute;
                background-color: #fff;
                height: 2px;
                width: calc(var(--spacing) * 7);
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.swiper-works {
    overflow: unset;
    
    .swiper-wrapper {

        .swiper-slide {
            position: relative;
                
            .img-container {
                height: 300px;
                position: relative;
                filter: blur(4px);
            }

            &.swiper-slide-active {
                z-index: 9;
                
                .img-container {
                    box-shadow: 0px 3.64px 45.07px 5.18px #000000BF;
                    transform: scale(1.4) translate(40px, -100px);
                    filter: blur(0);
                    // height: 300px;
                }
            }
        }
        
    }
}

.why-content-wrapper {
    // background-image: url('/assets/images/why-section/bg-why.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background: transparent;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     background: rgba(0, 0, 0, 0.7);
    // }

    .why-content {
        position: relative;
        z-index: 1;
    }
}